#canvas1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 600px;
}

.controls {
  position: absolute;
  top: calc(50% - 400px);
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}

.controls select {
  font-size: inherit;
}
